.panel.panel-default
  .panel-heading
    .row
      .col-lg-6.text-left
        - if current_organisation
          = link_with_icon(new_organisation_appointment_path, 'plus', t('add', model: Appointment.model_name.human), 'btn btn-default')
        - else
          = link_with_icon(new_organisation_registration_path, 'plus', t('add', model: Appointment.model_name.human), 'btn btn-default')
          = link_to(t('.sign_in_as_organisation'), new_organisation_session_path, class: 'btn btn-default btn-primary' )
      .col-lg-6.text-right
        = search_form_for [:organisation, @search], html: {class: 'form-inline'}, defaults: {label: false} do |f|
          = f.input :venue_cont, placeholder: Appointment.human_attribute_name(:venue)
          = f.input :kind_eq, collection: Appointment.kinds, prompt: t('select', attribute: Appointment.human_attribute_name(:kind))
          = f.submit t('search'), class: 'btn btn-default btn-sm'
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %td= Appointment.human_attribute_name :kind
          %td= Appointment.human_attribute_name :venue
          %td= Appointment.human_attribute_name :day
          - if current_organisation
            %td

      %tbody
        - @appointments.each do |appointment|
          %tr
            %td= appointment.kind
            %td= appointment.venue
            %td= appointment.date_at
            - if current_organisation
              %td
                = link_with_icon(organisation_appointment_path(appointment), 'eye', '', 'btn-xs btn-info')
                = link_with_icon(edit_organisation_appointment_path(appointment), 'pencil', '', 'btn-xs btn-primary')
                - if appointment.available?
                  = link_with_icon(organisation_appointment_path(appointment), 'trash', '', 'btn-xs btn-danger',
                  data: { method: 'DELETE', confirm: t('confirm_destroy') })

    = will_paginate @collection, renderer: BootstrapPagination::Rails, class: 'pagination-sm'
