.row
  .col-lg-2
  .col-lg-8
    .row.title-appointment
      .col-lg-9
        .text-small= "#{Appointment.human_attribute_name(:kind)}: " + t("appointment.kinds.#{@appointment.kind}")
        %h1= @appointment.title
      .col-lg-3.text-right
        - if @appointment.assigned?
          = link_to(t('.finish_request'), move_to_done_organisation_appointment_path(@appointment),
          class: 'btn btn-primary', data: {method: :patch})

    .row
      .col-lg-12
        %h3.list-subheadline= Appointment.model_name.human

    .row.list-entry
      .col-lg-4
        %span.text-label-list= Appointment.human_attribute_name(:description)
      .col-lg-8
        = @appointment.description

    .row.list-entry
      .col-lg-4
        %span.text-label-list= Appointment.human_attribute_name(:language_from)
      .col-lg-8
        = I18n.t("locales.#{@appointment.language_from}")
        = I18n.t("to")
        = I18n.t("locales.#{@appointment.language_to}")

    .row.list-entry
      .col-lg-4
        %span.text-label-list= Appointment.human_attribute_name(:time)
      .col-lg-8
        = l (@appointment.date_at)
        = l(@appointment.start_time_at, format: :short)
        = " - #{ l(@appointment.end_time_at, format: :short) }" if @appointment.end_time_at

    .row.list-entry
      .col-lg-4
        %span.text-label-list= Appointment.human_attribute_name(:venue)
      .col-lg-8
        %address
          = @appointment.venue
          %br
          = "#{@appointment.address.street} #{@appointment.address.house_number}"
          %br
          = "#{@appointment.address.zip} #{@appointment.address.city}"

    - if @appointment.refugee
      .row
        .col-lg-12
          %h3.list-subheadline= Appointment.human_attribute_name(:refugee_details)
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Refugee.human_attribute_name(:name)
        .col-lg-8
          = @appointment.refugee.try(:name)
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Refugee.human_attribute_name(:phone_number)
        .col-lg-8
          = @appointment.refugee.try(:phone_number)
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Refugee.human_attribute_name(:country_of_origin)
        .col-lg-8
          = @appointment.refugee.try(:country_of_origin)

    - if @appointment.interpreter
      .row
        .col-lg-12
          %h3.list-subheadline= Appointment.human_attribute_name(:interpreter_details)
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Interpreter.human_attribute_name(:name)
        .col-lg-8
          = @appointment.interpreter.name
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Interpreter.human_attribute_name(:phone_number)
        .col-lg-8
          = @appointment.interpreter.phone_number
      .row.list-entry
        .col-lg-4
          %span.text-label-list= Interpreter.human_attribute_name(:language_skill)
        .col-lg-8
          %table
          %tr
            %td= fa_icon 'flag'
            %td
          - @appointment.interpreter.language_skills.each do |ls|
            %tr
              %td
              %td
                = ls.locale
                = ls.level

  .col-lg-2
