.panel
  %ul.nav.nav-tabs.nav-justified
    %li{role: :presentation}= link_to(t('for_interpreter'), new_interpreter_session_path)
    %li.active{role: :presentation}= link_to(t('for_organisation'), '#')
    %h1= t('organisation_login')

    = simple_form_for(resource, as: :organisation, url: organisation_session_path) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, t('login'), class: 'btn btn-default btn-warning'

%div= link_to t('register'), new_organisation_registration_path
%div= link_to t('forgot_password'), new_organisation_registration_path
%div= link_to t('new_confirmation_mail'), new_organisation_confirmation_path
