.panel
  %ul.nav.nav-tabs.nav-justified
    %li{role: :presentation}= link_to(t('for_interpreter'), new_interpreter_registration_path)
    %li.active{role: :presentation}= link_to(t('for_organisation'), '#')
    %h1= t('.title')

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification

      %h2= Organisation.model_name.human

      = f.input :name
      = f.simple_fields_for :address, resource.build_address do |ad_f|
        = ad_f.input :street
        = ad_f.input :house_number
        = ad_f.input :zip
        = ad_f.input :city

      %h2= t('personal_data')
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true

      = f.button :submit, t('.title'), class: 'btn btn-default btn-primary'
