.row
  .col-lg-2
  .col-lg-8
    .row
      .col-lg-12
        %h1.list-subheadline= t('edit', model: Interpreter.model_name.human)

        = simple_form_for(@interpreter, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
          = f.error_notification

          = f.input :name
          = f.input :zip
          = f.input :radius

          .form-inline
            = f.simple_fields_for :language_skills do |language_skill|
              = render 'interpreters/registrations/language_skill_fields', f: language_skill
            .row
              .col-sm-offset-3
                = link_to_add_association t('add', model: LanguageSkill.model_name.human), f,
                :language_skills, class: 'btn btn-default btn-sm', partial: 'interpreters/registrations/language_skill_fields'

          %hr
          .row
            .col-sm-offset-3
              = f.button :submit, t('save'), class: 'btn btn-default btn-primary'

  .col-lg-2
