.row
  .col-lg-8.col-lg-offset-2
    .row
      .col-lg-12
        .row
          .col-sm-9.col-sm-offset-3
            %h1= t('edit', model: Organisation.model_name.human)
        %hr

        = simple_form_for @organisation, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
          = f.error_notification

          = f.input :name
          = f.input :phone_number

          = f.simple_fields_for :address do |ad_f|
            = ad_f.input :street
            = ad_f.input :house_number
            = ad_f.input :zip
            = ad_f.input :city

          %hr
          .row
            .col-sm-9.col-sm-offset-3
              = f.button :submit, t('save'), class: 'btn btn-default btn-primary'
