.container
  .row
    .col-md-6
      = link_to root_path do
        = image_tag 'dolmatch.png'
    .col-md-6.text-right
      = link_to 'Impressum', '#'
      = link_to 'AGB', '#'
      = link_to 'Kontakt', '#'
