.container
  .row
    .col-md-6
      = link_to root_path do
        = image_tag 'dolmatch.png'
    .col-md-6.text-right
      = link_to 'Impressum', static_pages_imprint_path
      = link_to 'AGB', static_pages_terms_and_conditions_path
      = link_to 'Kontakt', static_pages_contact_path
