%nav
  %ul
    - if current_admin
      %li{class: (request.path.start_with?(admin_appointments_path)) ? 'active' : ''}= link_to Appointment.model_name.human, admin_appointments_path
      %li{class: (request.path.start_with?(admin_organisations_path)) ? 'active' : ''}= link_to Organisation.model_name.human, admin_organisations_path
      %li{class: (request.path.start_with?(admin_interpreters_path)) ? 'active' : ''}= link_to Interpreter.model_name.human, admin_interpreters_path
      %li
        = link_to destroy_admin_session_path, data: {method: :delete} do
          = t('.logout')
          = "(#{current_admin.email})"
    - elsif current_interpreter
      %li{class: (request.path == root_path) ? 'active' : ''}= link_to t('find_a_mission'), root_path
      %li{class: (request.path.start_with?(interpreter_appointments_path)) ? 'active' : ''}= link_to t('.my_missions'), interpreter_appointments_path
      %li{class: (request.path == edit_interpreter_path(current_interpreter)) ? 'active' : ''}
        = link_to t('.edit_profile'), edit_interpreter_path(current_interpreter)
      %li
        = link_to destroy_interpreter_session_path, data: {method: :delete} do
          = t('.logout')
          = "(#{current_interpreter.email})"
    - elsif current_organisation
      %li{class: (request.path == new_organisation_appointment_path) ? 'active' : ''}= link_to t('add_appointment'), new_organisation_appointment_path
      - is_active = request.path.start_with?(organisation_appointments_path) && !(request.path == new_organisation_appointment_path)
      %li{class: (is_active) ? 'active' : ''}= link_to t('.my_requests'), organisation_appointments_path
      %li{class: (request.path == edit_organisation_path(current_organisation)) ? 'active' : ''}= link_to t('.edit_profile'), edit_organisation_path(current_organisation)
      %li
        = link_to destroy_organisation_session_path, data: {method: :delete} do
          = t('.logout')
          = "(#{current_organisation.email})"
    - else
      %li= link_to(t('login'), new_interpreter_session_path)
      |
      %li= link_to(t('register'), new_interpreter_registration_path)
    -# %li.language-select
    -#   = simple_form_for :language, url: language_path, method: :patch do |f|
    -#     = f.input :locale, collection: I18n.available_locales, label: false,
    -#     label_method: -> (value) { t("locales.#{value}") },
    -#     selected: (session[:locale] || I18n.default_locale.to_s), include_blank: false
