- if current_interpreter
  = render 'interpreter/appointments/all_available', appointments: @appointments, search: @search

- else
  - content_for(:big_picture) do
    .mission-statement= t('.mission_statement')

    .row
      .col-sm-4.col-sm-offset-2
        .mission-panel
          .panel-title= t('.title_interpreter')
          .panel-content
            = t('.content_interpreter')
            .row
              .col-sm-12= link_to(t('.see_appointments'), interpreter_appointments_path, class: 'btn btn-default btn-info' )
      .col-sm-4
        .mission-panel
          .panel-title= t('.title_organisation')
          .panel-content
            .mission-text= t('.content_organisation')
            .row
              .col-sm-12= link_to(t('.add_appointment'), new_organisation_session_path, class: 'btn btn-default btn-info' )

  .row.text-center
    .col-sm-12
      %h1= t('how_to_help')

    .col-sm-4
      = fa_icon 'users'
      %h2= t('.headline_one')
      %p= t('.description_one')
    .col-sm-4
      = fa_icon 'user'
      %h2= t('.headline_two')
      %p= t('.description_two')
    .col-sm-4
      = fa_icon 'users'
      %h2= t('.headline_three')
      %p= t('.description_three')
