.mission-statement= t('.mission_statement')
.row
  .col-sm-4.col-sm-offset-2
    .mission-panel
      .panel-title= t('.title_interpreter')
      .panel-content
        = t('.content_interpreter')
        .row
          .col-sm-12= link_to(t('.see_appointments'), organisation_appointments_path, class: 'btn btn-default btn-info' )
  .col-sm-4
    .mission-panel
      .panel-title= t('.title_organisation')
      .panel-content
        .mission-text= t('.content_organisation')
        .row
          .col-sm-12= link_to(t('.add_appointment'), interpreter_appointments_path, class: 'btn btn-default btn-info' )
