- if @appointments.empty?
  %h1= Appointment.human_status_name(:assigned)
  .panel.empty.text-center
    %h1= t('.no_open_missions')
    = t('.see_if_you_can_help')
    %div= link_to t('find_a_mission'), root_path, class: 'btn btn-primary'
- else
  = render 'appointments', appointments: @appointments.with_status(:assigned), title: t('appointments.status.assigned')
  - if @appointments.with_status(:done).any?
    = render 'appointments', appointments: @appointments.with_status(:done), title: t('appointments.status.done')
