.row
  .col-lg-12= title_with_icon(t('.appointment', kind: t("appointment.kinds.#{@appointment.kind}")), 'calendar-check-o')
.row
  .col-lg-6
    .row.information
      .col-md-12
        %label= Appointment.human_attribute_name(:language_from)
      .col-md-12= @appointment.language_from
    .row.information
      .col-md-6
        .row
          .col-md-12
            %label= Appointment.human_attribute_name(:date_at)
          .col-md-12= l(@appointment.date_at, format: '%d. %B, ')
      .col-md-6
        .row
          .col-md-12
            %label= Appointment.human_attribute_name(:time)
          .col-md-12
            %span= l(@appointment.start_time_at, format: '%H:%M')
            %span= "- #{l(@appointment.end_time_at, format: '%H:%M')}" if @appointment.end_time_at
      .row.information
        .col-md-12= @appointment.description
    .row
      .col-md-12
        - if @appointment.available?
          = link_to t('.ill_help_you'), assign_interpreter_appointment_path(@appointment),
          class: 'btn btn-primary', data: {method: :patch}
        - elsif @appointment.assigned?
          = link_to t('.i_cant_help_you'), interpreter_appointment_path(@appointment, event: :unassign),
          class: 'btn btn-primary', data: {method: :patch}
  .col-lg-6
    .row
      .col-md-12
        .panel.user
          .div
            = fa_icon 'user'
            %span= @appointment.organisation.name
          - if @appointment.organisation.phone_number
            .div
              = fa_icon 'phone'
              = @appointment.organisation.phone_number
