!!!
%html
  %head
    %title Dolmatch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    .header
      .container
        .row
          .col-md-2
            = link_to root_path do
              = image_tag 'logo_dolmatch_white.svg'
          .col-md-10.text-right
            = render 'shared/navbar'

    .devise-container
      #notice
        = render 'shared/messages' if flash.any?
      .devise-views.text-left
        = yield

    .footer= render 'shared/footer'
