!!!
%html
  %head
    %title Dolmatch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body.landing-page
    .big-image
      .header
        .container
          .row
            .col-md-2= image_tag 'dolmatch.png'
            .col-md-10.text-right= render 'shared/navbar'

      .container
        .row
          .col-lg-12.text-center= yield :big_picture

    .container
      .row
        .col-lg-12.text-center.tutorial_landingpage= yield

    .footer= render 'shared/footer'
